.container {
	width: 50%;
	margin: auto;
	text-align: center;
}

h1 {
	font-size: 36px;
	margin-top: 50px;
}

.btn-register, .btn-login {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
	cursor: pointer;
}

.btn-register {
	background-color: #00cc66;
	color: #fff;
}

.btn-login {
	background-color: #3399ff;
	color: #fff;
}